@model InteractionLayer.Models.Accounts.User

@{
    ViewBag.Title = "AddUser";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h2>Create user</h2>

<form id="AddUser">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            <label>Username</label>
        </div>
        <div class="col-md-6">
            <input id="Username" name="Username" class="form-control" required>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <label>Nickname</label>
        </div>
        <div class="col-md-6">
            <input id="Nickname" name="Nickname" class="form-control" required>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <label>Full Names</label>
        </div>
        <div class="col-md-6">
            <input id="FullNames" name="FullNames" class="form-control" required>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <label>Last Name</label>
        </div>
        <div class="col-md-6">
            <input id="LastName" name="LastName" class="form-control" required>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <label>Email Address</label>
        </div>
        <div class="col-md-6">
            <input id="EmailAddress" type="email" name="EmailAddress" class="form-control" required>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <label>Telephone Number</label>
        </div>
        <div class="col-md-6">
            <input id="TelephoneNumber" name="TelephoneNumber" class="form-control" required>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <label>Birthday</label>
        </div>
        <div class="col-md-6">
            <input id="Birthday" name="Birthday" type="date" class="form-control" required>
        </div>
    </div>
    @*<br />
        <div class="row">
            <div class="col-md-6">
                <label>Profile Photo</label>
            </div>
            <div class="col-md-6">
                <input id="ProfilePhoto" name="ProfilePhoto" class="form-control" required>
            </div>
        </div>*@
    <br />
    <div class="row">
        <div class="col-md-6">
            <label>Role</label>
        </div>
        <div class="col-md-6">
            @Html.DropDownList("RoleId",
            new SelectList(Model.Roles.Select(a =>
                        new SelectListItem
                        {
                            Value = a.Id.ToString(),
                            Text = a.RoleName
                        }).ToList(), "Value", "Text"),
            "Select Role",
            new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <label>Team</label>
        </div>
        <div class="col-md-6">
            @Html.DropDownList("TeamIds",
            new SelectList(Model.Teams.Select(a =>
                        new SelectListItem
                        {
                            Value = a.Id.ToString(),
                            Text = a.TeamName
                        }).ToList(), "Value", "Text"),
            "Select Team",
            new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button id="CreateNewUser" type="submit" class="btn btn-success">Create User</button>
        </div>
    </div>
</form>

<br />
<div id="userAdded" class="hidden">
    <div class="row">
        <div class="col-md-12">
            This link can be used by the user to create their own password. An email with this link has also been sent ot the new user.
            <br />
            <input id="newUserPWLink" type="text" class="form-control" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="reset" class="cancel btn btn-danger">Reset</button>
        </div>
    </div>
</div>


<script>
    $("#CreateNewUser").click(function (e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: "/Accounts/AddUser",
            datatype: "json",
            data: $("form[id=AddUser]").serialize(),
            success: function (data) {
                if (data.status == "OK") {
                    $("#AddUser").addClass("hidden");
                    $("#userAdded").removeClass("hidden");
                    $("#newUserPWLink").val(data.message);
                }
                else {
                    alert(data.message);
                }
            },
            error: function (err) {
                alert(err.responseText);
            }
        });
    });

    $(".cancel").click(function (e) {
        e.preventDefault();
        location.reload();
    });
</script>