
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Forgot Password</h2>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<form id="ForgotPasswordForm">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <br />
            <input id="EmailAddress" name="EmailAddress" type="email" class="form-control" placeholder="Please Enter Your Email Address">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button id="ForgotPW" type="submit" class="btn btn-success">Reset Password</button>
        </div>
    </div>
</form>


<script>
    $(document).ready(function () {
        $("#ForgotPW").click(function (e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/Accounts/ForgotPassword",
                data: $("form[id=ForgotPasswordForm]").serialize(),
                datatype: "json",
                success: function (data) {
                    alert(data.message);
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });
        });
    });
</script>