@model InteractionLayer.Models.Accounts.ResetPassword
@{
    ViewBag.Title = "SetPassword";
}

<h2>Set Password</h2>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<form id="NewPasswordForm">
    @Html.AntiForgeryToken()
    <input type="text" hidden name="Key" value="@(Model.Key)" id="GlobalKeyword" />
    <div class="row">
        <div class="col-md-12">
            <br />
            <input id="Password" name="Password" type="password" class="form-control">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <br />
            <input id="ConfirmPassword" name="ConfirmPassword" type="password" class="form-control">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button id="SetPW" type="submit" class="btn btn-success">Set Password</button>
        </div>
    </div>
</form>


<script>
    $(document).ready(function () {
        $("#SetPW").click(function (e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/Accounts/SetPassword",
                data: $("form[id=NewPasswordForm]").serialize(),
                datatype: "json",
                success: function (data) {
                    alert(data.message);
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });
        });
    });
</script>
