@model InteractionLayer.Models.MetricsViewMainModel

@{
    ViewBag.Title = "Index";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>

<h2>Metrics</h2>

@if (Model != null)
{
    foreach (string type in Model.MetricTypes)
    {
        <div class="row">
            <div class="col-md-12">
                <h3>@type</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                @{
                    Html.RenderPartial("LineChart", Model.MetricRecords.Where(x => x.MetricType == type).OrderBy(z => z.Timestamp).ToList());
                }
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h5 style="color:grey; font-weight:bold;">@type Table</h5>
                    </div>
                </div>
                <table class="divoverflow" style="width:100%">
                    <tr>
                        <th>Measurement</th>
                        <th>Timestamp</th>
                    </tr>
                    @foreach (var item in Model.MetricRecords.Where(x => x.MetricType == type).OrderByDescending(z => z.Timestamp))
                    {
                        <tr>
                            <td>@item.Measurement</td>
                            <td>@item.Timestamp</td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    }
}
                    

<script>

    //var LineChartData =
    //{
    //    labels: ['one','two','three','four','five','six','seven'],
    //    datasets: [{
    //        label: 'ProductWise Sales Count',
    //        backgroundColor: "rgba(75,192,192,0.4)",
    //        borderWidth: 2,
    //        data: [10,12,14,8,7,9,21]
    //    }]
    //};

    //window.onload = function () {
    //    var ctx1 = document.getElementById("Linecanvas").getContext("2d");
    //    window.myBar = new Chart(ctx1,
    //        {
    //            type: 'line',
    //            data: LineChartData,
    //            options:
    //                {
    //                    title:
    //                    {
    //                        display: true,
    //                        text: "ProductWise Sales Count"
    //                    },
    //                    responsive: true,
    //                    maintainAspectRatio: true
    //                }
    //        });
    //}
</script> 